<header>
    <div class="collapse bg-light" id="navbarHeader" >
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 style="color: wheat;">About Creators</h4>
                    <p class="text-muted"> Created by <strong class="text-danger">SRY</strong> for major project. <br> the object
                        of this project is to help Students prepare for placement activities</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 style="color: wheat;">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Follow on Instagram</a></li>
                        <li><a href="#" class="text-dark">Like on Facebook</a></li>
                        <li><a href="#" class="text-dark">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-light bg-light shadow-sm" style="border-bottom: solid; border-radius: 3px; border-color: #f5deb3;">
        <div class="container d-flex justify-content-between">
            <div>
                <a routerLink='' class="navbar-brand d-flex align-items-center">
                    <div style="display: flex; width: 20px; height: 18px; margin-right: 5px; ">
                        <img src="../../assets/user.png" alt=""
                            style="max-width: 100%; max-height: 100%;" />
                    </div>
                    <strong>Companion<span class="text-danger">App</span></strong>
                </a>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center">
                <button type="submit" class="navbar-toggler p-2 mr-2">logout</button>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
</header>