<div class="col-8">
    <div class="row bg-light">
        <div class="row d-flex justify-content-center">
            <div class="card text-dark" style="width: 18rem;">
                <div class="card-header">
                    <h4>Your Profile <span class="text-danger">:</span></h4>
                </div>
                <img class="card-img-top"
                    src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Victor</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
            <div class="col p-2">
                <div class="row" style="display: contents;">
                    <div>
                        <h1>Rupesh Maharana<small><small><small style="color: #ff6600">IES Student
                                        2016-20</small></small></small></h1>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <table class="table text-left">
                                <tr>
                                    <td>Father's Name:</td>
                                    <td>Maharana</td>
                                </tr>
                                <tr>
                                    <td>
                                        Mother's Name:
                                    </td>
                                    <td>Rubeka</td>
                                </tr>
                                <tr>
                                    <td>DoB:</td>
                                    <td>15<span class="o">-</span>12<span class="o">-</span>1998</td>
                                </tr>
                                <tr>
                                    <td>Mobile no.</td>
                                    <td><span class="o">+91</span>9981981404</td>
                                </tr>
                            </table>
                            <h3>About you:</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptate, eum at pariatur harum sed minima aut mollitia non numquam aspernatur id natus possimus repellendus quas necessitatibus, repudiandae aliquam! Dolorum.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>